autopep8==1.2.4
checkbox-support==0.22
cryptography==1.5
cycler==0.10.0
defer==1.0.6
distro-info===0.14build1
Flask==0.11.1
Flask-Cors==3.0.2
h5py==2.6.0
html5lib==0.999
httplib2==0.9.1
Jinja2==2.8
keyring==9.1
keyrings.alt==1.1.1
language-selector==0.1
launchpadlib==1.10.4
lazr.restfulclient==0.13.4
lazr.uri==1.0.3
LibAppArmor==2.10.95
louis==2.6.5
lxml==3.6.4
Mako==1.0.4
MarkupSafe==0.23
matplotlib==1.5.2rc2
numpy==1.11.2
oauth==1.0.1
oauthlib==1.1.2
onboard==1.3.0
opencv-python==3.1.0.3
padme==1.1.1
pbr==1.10.0
pep8==1.7.0
pexpect==4.2.0
Pillow==3.3.1
plainbox==0.25
progressbar==2.3
protobuf==3.1.0
ptyprocess==0.5.1
pyasn1==0.1.9
pycrypto==2.6.1
pycups==1.9.73
pygobject==3.22.0
PyJWT==1.4.1
pyparsing==2.1.8
PySocks==1.6.4
python-apt==1.1.0b5
python-dateutil==2.4.2
python-debian==0.1.29
python-gnupg==0.3.8
pytz==2014.10
pyxdg==0.25
PyYAML==3.11
reportlab==3.3.0
requests==2.10.0
requests-oauthlib==0.7.0
scipy==0.18.1
SecretStorage==2.3.1
sessioninstaller==0.0.0
simplejson==3.8.2
six==1.10.0
system-service==0.3
tensorflow==0.12.0rc0
testresources==2.0.1
tflearn==0.2.1
Theano==0.8.2
twilio==5.6.0
twython==3.4.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.15.1
